Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build
Windows

# assets from store or other sources
SFX
Hack_And_Slash_FX
sA_PickupSet_1